body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #204D5D;
}

header {
    background: #423e3e;
    color: rgb(131, 53, 184);
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
}

section {
    padding: 20px;
}

.cartas-container {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.carta {
    background: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 350px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color:  #423e3e;
    color: white;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }

  * {
    box-sizing: border-box;
  }

  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
  }

  @media (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
}

@media (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
}
    